--extra-index-url https://download.pytorch.org/whl/cu118

# API stack
fastapi[standard]==0.115.3
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
sqlalchemy==2.0.20
psycopg2-binary==2.9.9
minio==7.2.15
weaviate-client==4.12.1
pandas==2.2.2
numpy<2

# AI stack (CUDA, x86_64 only)
torch==2.2.2+cu118
torchvision==0.17.2+cu118

openai==1.91.0
langchain>=0.3.9
langchain-openai==0.3.25
langchain-community==0.0.29

transformers==4.39.3
huggingface_hub==0.25.2
sentence-transformers==2.2.2
keybert==0.9.0
tokenizers==0.15.2
ultralytics
scenedetect
opencv-python
pillow
accelerate==0.27.2

pytesseract

# Optional python ffmpeg api
ffmpeg-python

# (prefer over opencv-python for servers)
opencv-python-headless

# openai-clip
git+https://github.com/openai/CLIP.git